<a href="https://colab.research.google.com/github/21pa1a6140/DWM/blob/main/Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB

from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
data=pd.read_csv("iris.csv")
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
data=pd.read_csv("iris.csv")
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
data.isna().any()

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
species         False
dtype: bool

In [7]:
#features
X=data[["sepal_length","sepal_width","petal_length"]].values

In [10]:
#labels
y=data["species"]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

In [12]:
print (" The shape of original feature set is : ",X.shape)
print("The shape of original class labels is", y.shape)
print(" The shape of Features in training data",X_train.shape)
print("The shape of class labels in training data",y_train.shape)
print(" The shape of Features in test data",X_test.shape)
print("The shape of class labels in test data",y_test.shape)

 The shape of original feature set is :  (150, 3)
The shape of original class labels is (150,)
 The shape of Features in training data (120, 3)
The shape of class labels in training data (120,)
 The shape of Features in test data (30, 3)
The shape of class labels in test data (30,)

In [13]:
model_DT = DecisionTreeClassifier() # Create Decision Tree classifer object
model_DT = model_DT.fit(X_train,y_train) # Build the model using training data
y_predict_DT = model_DT.predict(X_test) # Apply the model on test data.

In [14]:
Actual_predicted_DT=pd.DataFrame({'predicted':y_predict_DT, 'Actual':y_test})
Actual_predicted_DT.head()

      predicted      Actual
87   versicolor  versicolor
111   virginica   virginica
10       setosa      setosa
91   versicolor  versicolor
49       setosa      setosa

In [17]:
from sklearn.metrics import confusion_matrix

pd.DataFrame(
    confusion_matrix(y_test, y_predict_DT),
    columns=['Iris-versicolor predicted','Iris-virginica predicted','Iris-setosa predicted'],
    index=['Iris-versicolor','Iris-virginica','Iris-setosa']
)

,Iris-versicolor predicted,Iris-virginica predicted,Iris-setosa predicted
Iris-versicolor,10,0,0
Iris-virginica,0,12,1
Iris-setosa,0,0,7

In [18]:
print("Accuracy of decison tree is " ,metrics.accuracy_score(y_test, y_predict_DT)*100)

Accuracy of decison tree is  96.66666666666667