<a href="https://colab.research.google.com/github/21pa1a6140/DWM/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df=pd.read_csv("data.csv")
df

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,M,A,87.3,65.30,40.00,18,NO,Not placed
1,2,F,A,89.0,92.40,71.45,0,yes,Placed
2,3,F,A,67.0,68.00,45.26,13,yes,Not placed
3,4,M,A,71.0,70.40,36.47,17,yes,Not placed
4,5,M,A,NaN,65.50,42.52,17,yes,Not placed
...,...,...,...,...,...,...,...,...,...
112,113,M,B,81.1,78.60,35.84,16,NO,Not placed
113,114,M,B,81.3,85.12,68.50,0,NO,Not placed
114,115,M,B,83.5,89.90,76.30,0,NO,Not placed
115,116,M,B,85.5,90.63,74.50,0,NO,Not placed
116,117,M,B,80.0,83.33,65.53,0,NO,Not placed

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,M,A,87.3,65.30,40.00,18,NO,Not placed
1,2,F,A,89.0,92.40,71.45,0,yes,Placed
2,3,F,A,67.0,68.00,45.26,13,yes,Not placed
3,4,M,A,71.0,70.40,36.47,17,yes,Not placed
4,5,M,A,NaN,65.50,42.52,17,yes,Not placed
...,...,...,...,...,...,...,...,...,...
112,113,M,B,81.1,78.60,35.84,16,NO,Not placed
113,114,M,B,81.3,85.12,68.50,0,NO,Not placed
114,115,M,B,83.5,89.90,76.30,0,NO,Not placed
115,116,M,B,85.5,90.63,74.50,0,NO,Not placed
116,117,M,B,80.0,83.33,65.53,0,NO,Not placed

In [4]:
df.describe()

,Roll No,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs
count,117.000000,116.000000,117.000000,117.000000,117.000000
mean,59.000000,80.474569,80.772906,62.943419,4.111111
std,33.919021,8.836079,11.267248,12.064306,6.335148
min,1.000000,47.800000,52.200000,31.200000,0.000000
25%,30.000000,76.622500,73.400000,54.180000,0.000000
50%,59.000000,82.745000,83.600000,64.360000,0.000000
75%,88.000000,87.025000,90.000000,72.570000,7.000000
max,117.000000,93.660000,96.900000,88.100000,25.000000

In [5]:
df.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                         True
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training     True
placement status                      False
dtype: bool

In [7]:
import numpy as np
df["SSC Percentage"]=df["SSC Percentage"].replace(to_replace=np.nan,value=np.mean(df["SSC Percentage"]))

In [10]:
df["registered_for_ Placement_Training"]=df["registered_for_ Placement_Training"].replace(to_replace=np.nan,value=(df["registered_for_ Placement_Training"].mode()[0]))

In [11]:
df.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                        False
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training    False
placement status                      False
dtype: bool

In [12]:
df.dtypes

Roll No                                 int64
Gender                                 object
Section                                object
SSC Percentage                        float64
inter_Diploma_percentage              float64
B.Tech_percentage                     float64
Backlogs                                int64
registered_for_ Placement_Training     object
placement status                       object
dtype: object

In [14]:
print(df['Gender'].value_counts())
print(df['Section'].value_counts())
print(df['registered_for_ Placement_Training'].value_counts())
print(df['placement status'].value_counts())

M    68
F    49
Name: Gender, dtype: int64
A    60
B    57
Name: Section, dtype: int64
yes    68
NO     49
Name: registered_for_ Placement_Training, dtype: int64
Not placed    78
Placed        39
Name: placement status, dtype: int64

In [15]:
import plotly.express as px
cut_counts = df['Gender'].value_counts()
fig = px.bar(x=cut_counts.index , y = cut_counts.values)
fig.show()

In [16]:
pd.crosstab(index=df['Gender'],columns = df['placement status'])

placement status  Not placed  Placed
Gender
F                         20      29
M                         58      10

In [17]:
pd.crosstab(index=df['Gender'],columns = df['Backlogs'])

Backlogs,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,22,25
Gender,,,,,,,,,,,,,,,,,,,,,
F,38,6,0,2,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
M,21,5,6,2,0,3,2,3,2,4,...,0,2,1,2,3,1,1,2,2,1

In [19]:
# attributes
X=df[["Gender","Section","SSC Percentage","inter_Diploma_percentage","B.Tech_percentage","Backlogs","registered_for_ Placement_Training"]].values

In [22]:
# labels
y=df["placement status"].values

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)